@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: #0e0e10;
    /* background-image: url(../images/saxon-palace-halfhalf.jpg) no-repeat center center; */
    background-color: #c7c7d1;
}

/* ----------------------------------------------------------------------Main container and its sections-- */

.container {
    min-height: 500px;
    width: 75%;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 76, 60);

    padding: 20px;
    border: 1px solid #0e0e10;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px #f4f4f6;
}

.top-section {
    min-height: 120px;
    padding-top: 10px;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    color: #0e0e10;
    background-color: blue;
}

.mid-section {
    min-height: 260px;
    padding: 30px 0;
    text-align: center;
    font-size: 30px;
    color: #0e0e10;
    /* background-color: #c7c7d1; */
    background-color: green;
    border: 1px solid #0e0e10;
    border-radius: 10px;
}

.bttm-section {
    min-height: 120px;
    bottom: 30px;
    font-size: 30px;
    color: #0e0e10;
    text-align: center;
    margin: 0 auto;    
    background-color: yellow;
}

#left-bttm {
    max-width: 33%;
    float: left;
    background-color: silver;    
}

#center-bttm {
    max-width: 33%;
    margin: 0 auto;
    background-color: pink;
}

#right-bttm {
    max-width: 33%;
    float: right;
    background-color: orangered;
}

.hide-content {
    display: none;
}

/* --------------------------------------------------------------------------------Page1 Welcome section-- */

#logo-saski a img {
    border: 5px solid #0e0e10;
}

#playername {
    border: none;
    min-width: 300px;
    height: 45px;
    background: #f4f4f6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

#enter-button {
    border: none;
    outline: none;
    background: #f4f4f6;
    color: #0e0e10;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    /* margin-top: 10px; */
}

#enter-button:hover {
    background: #0e0e10;
    color: #f4f4f6;
}


/* -----------------------------------------------------------------------------Page2 Quiz-rules section-- */

#list-of-rules {
    text-align: left;
    margin: 0 35px;
}

.restart-btn {
    border: none;
    outline: none;
    background: #f4f4f6;
    color: #0e0e10;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    /* margin: 10px; */
    margin-left: 50px;
    font-size: 20px;
}

.restart-btn:hover {
    background: #0e0e10;
    color: #f4f4f6;
}

.next-btn {
    border: none;
    outline: none;
    background: #f4f4f6;
    color: #0e0e10;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    /* margin: 10px; */
    margin-right: 50px;
    font-size: 20px;
}

.next-btn:hover {
    background: #0e0e10;
    color: #f4f4f6;
}


/* -----------------------------------------------------------------------------------Page3 Quiz section-- */

.question {
    padding: 20px;
    font-size: 22px;
    background: #f4f4f6;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    color: #0e0e10;
}

.option {
    width: 50%;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: #f4f4f6;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    color: #0e0e10;
}

.option:hover {
    background: #0e0e10;
    color: #f4f4f6;
}
/* 
((( .next-btn {
    border: none;
    outline: none;
    background: #f4f4f6;
    color: #0e0e10;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin: 10px;
   ((( margin-right: 50px; )))
    font-size: 20px;
}

.next-btn:hover {
    background: #0e0e10;
    color: #f4f4f6;
} )))

 */

/* ---------------------------------------------------------------------------Page4 Quiz-results section-- */

/* 
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
} */



.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}


.option input:checked .option {
    background: greenyellow;
    color: #0e0e10;
}


/* --------------------------------------------------------------------------Page5 Quiz-feedback section-- */


