@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #0e0e10;
    background-color: #c7c7d1;
}

.container {
    height: 60%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 76, 60, 0.9);
    padding: 20px;
    border: 1px solid #0e0e10;
    box-shadow: 0 0 8px 3px #fff;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #0e0e10;    
}

.question {
    padding: 20px;
    font-size: 22px;
    background: #f4f4f6;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    color: #0e0e10;
}

.option {
    width: 50%;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: #f4f4f6;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    color: #0e0e10;
}

.option:hover {
    background: #0e0e10;
    color: #f4f4f6;
}

.next-btn {
    border: none;
    outline: none;
    background: #f4f4f6;
    color: #0e0e10;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin: 10px;
    font-size: 20px;
}

.next-btn:hover {
    background: #0e0e10;
    color: #f4f4f6;
}


/* 
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
} */



.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}


.option input:checked .option {
    background: greenyellow;
    color: #0e0e10;
}

